{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student List</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <style>
      /* Custom styles for the navigation bar */
      .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; /* Ensure the navigation bar is above other elements */
      }
      /* Adjust the body padding to prevent content from being hidden behind the navbar */
      body {
        padding-top: 56px; /* Height of the fixed navbar */
      }
    </style>
  </head>
  <body style="background-image: url('{% static 'bg1.jpg' %}')">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              style="color: white"
              href="{% url 'student_create' %}"
              >Add</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              style="color: white"
              href="{% url 'student_list' %}"
              >Student List</a
            >
          </li>
          <!-- Add more navigation links here as needed -->
        </ul>
        <form
          class="form-inline my-2 my-lg-0"
          action="{% url 'user_logout' %}"
          method="post"
        >
          <a class="navbar-brand" style="color: white" href="#"
            >Hi, {{ user.username }}</a
          >
          {% csrf_token %}
          <button class="btn btn-danger my-2 my-sm-0" type="submit">
            Logout
          </button>
        </form>
      </div>
    </nav>
  </body>
</html>
