{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Detail</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body
    style="
      background-image: url('{% static 'bg1.jpg' %}');
      background-size: cover;
    "
  >
    {% include 'students/navbar.html' %}
    <div class="container mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="center-title display-5">Student Detail</h1>
          <p class="card-text">
            <strong>Student ID:</strong> {{ student.student_id }}
          </p>
          <p class="card-text"><strong>Name:</strong> {{ student.name }}</p>
          <p class="card-text">
            <strong>Address:</strong> {{ student.address }}
          </p>
          <p class="card-text"><strong>Age:</strong> {{ student.age }}</p>
          <p class="card-text">
            <strong>Date of Birth:</strong> {{ student.date_of_birth }}
          </p>
          <p class="card-text"><strong>Email:</strong> {{ student.email }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
